@import url(./reset.css);
@media screen and (min-width: 550px) {
  body {
    background-color: #ffd700;
  }
}

#wrap {
  width: 100%;
}
@media screen and (min-width: 550px) {
  #wrap {
    display: none;
  }
}
#wrap > header > nav {
  display: flex;
  justify-content: space-between;
  height: 33px;
  padding: 0 10px;
  line-height: 33px;
}
#wrap > header > nav > div {
  display: flex;
}
#wrap > header > nav > div > p {
  font-size: 16px;
}
#wrap > header > nav > div > p:nth-of-type(2) {
  margin: 0 4px;
}
#wrap > header > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}
#wrap > header > nav > ul > li {
  font-size: 15px;
}
#wrap > header.talkbang {
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  background-color: #fff;
  transform: translate(-50%, 0);
  z-index: 1000;
}
#wrap > section {
  margin-top: 10px;
}
#wrap > section > nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
#wrap > section > nav > div {
  display: flex;
}
#wrap > section > nav > div > p {
  height: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
}
#wrap > section > nav > div > p > a {
  display: block;
  height: 60px;
  padding-left: 15px;
  color: #ccc;
  line-height: 60px;
  text-align: center;
}
#wrap > section > nav > ol {
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-weight: 500;
  font-size: 24px;
}
#wrap > section > nav > ol > li {
  height: 60px;
  line-height: 60px;
}
#wrap > section > nav > ol > li > a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
#wrap > section > nav > ol > li:last-child:hover > a {
  color: #f00;
}
#wrap > section > .talkroom {
  margin-top: 40px;
}
#wrap > section > .talkroom > li > a {
  display: flex;
  height: 65px;
  margin: 15px 20px;
}
#wrap > section > .talkroom > li > a:hover {
  background-color: #fefbe3;
}
#wrap > section > .talkroom > li > a > .friend > img {
  width: 65px;
  height: 65px;
  border-radius: 20px;
}
#wrap > section > .talkroom > li > a > .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#wrap > section > .talkroom > li > a > .info > h3 {
  margin-top: 8px;
}
#wrap > section > .talkroom > li > a > .info > p {
  margin-top: 5px;
  color: #9999b3;
}
#wrap > section > .talkroom > li > a > .talktime {
  position: absolute;
  right: 25px;
  margin-top: 24px;
  color: #9999b3;
  font-size: 12px;
}
#wrap > section > .talkroom > li > a > span {
  position: absolute;
  left: 50%;
  margin-top: 45px;
  margin-left: 197px;
  width: 18px;
  height: 18px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  font-size: 13px;
  border-radius: 50%;
  background-color: #f00;
}
#wrap > .settings > nav {
  padding: 0;
}
#wrap > .settings > nav > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}
#wrap > .settings > nav > div > p > a {
  display: block;
  color: #000;
}
#wrap > .settings > nav > div > p > a:first-child {
  font-weight: 500;
  font-size: 20px;
}
#wrap > .settings > nav > div > p:first-child:hover > a {
  color: #ffd700;
}
#wrap > .settings > nav > div > p:last-child {
  padding-right: 10px;
}
#wrap > .settings > .else {
  margin-top: 30px;
  padding-left: 20px;
}
#wrap > .settings > .else > li {
  font-size: 25px;
}
#wrap > .settings > .else > li > a {
  display: block;
  height: 45px;
  margin-bottom: 30px;
  line-height: 45px;
}
#wrap > .settings > .else > li > a:hover {
  background-color: #fdf4b1;
}
#wrap > .settings > .else > li > a > span {
  padding-left: 18px;
}
#wrap > section.talkbang > nav {
  position: fixed;
  left: 50%;
  top: 30px;
  width: 100%;
  background-color: #fff;
  padding: 0;
  transform: translate(-50%, 0);
  z-index: 1000;
}
#wrap > section.talkbang > nav > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 8px;
}
#wrap > section.talkbang > nav > div > p {
  display: flex;
}
#wrap > section.talkbang > nav > div > p > a {
  display: block;
  padding-right: 5px;
  color: #000;
  font-size: 20px;
}
#wrap > section.talkbang > nav > div > p.onlyy > a:hover {
  color: #dcc206;
}
#wrap > section.talkbang > .background {
  position: relative;
  height: 1500px;
  margin-top: 90px;
  background-image: url(./../images/chatBng.png);
  background-size: contain;
}
#wrap > section.talkbang > .background > h3 {
  position: absolute;
  left: 170px;
  top: 35px;
  width: 155px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #ccc;
  font-weight: 500;
  font-size: 13px;
  background-color: #fff;
  border-radius: 50px;
}
#wrap > section.talkbang > .background > ul > li > .msgbox > p {
  width: 190px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #ccc;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.9;
}
#wrap > section.talkbang > .background > ul > li > .msgbox > .nickname {
  position: absolute;
  top: 240px;
  left: 70px;
}
#wrap > section.talkbang > .background > ul > li > .pic {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../images/friend_cloud.jpg);
  border-radius: 50%;
}
#wrap > section.talkbang > .background > ul > li:first-child > div > p {
  position: absolute;
  left: 275px;
  top: 100px;
  background-color: #38bdf1;
}
#wrap > section.talkbang > .background > ul > li:nth-child(2) > div > p {
  position: absolute;
  left: 275px;
  top: 170px;
  background-color: #38bdf1;
}
#wrap > section.talkbang > .background > ul > li:nth-child(3) > div > p {
  position: absolute;
  left: 65px;
  top: 260px;
}
#wrap > section.talkbang > .background > ul > li:nth-child(4) > div > p {
  position: absolute;
  left: 65px;
  top: 330px;
}
#wrap > section.talkbang > .background > ul > li:nth-child(5) > div > p {
  position: absolute;
  left: 65px;
  top: 400px;
}
#wrap > section.talkbang > .background > ul > li:nth-child(6) > div > p {
  position: absolute;
  left: 65px;
  top: 470px;
}
#wrap > section.talkbang > .background > ul > li:nth-child(7) > div > p {
  position: absolute;
  left: 275px;
  top: 570px;
  background-color: #38bdf1;
}
#wrap > section.talkbang > .background > ul > li:nth-child(3) > .pic {
  position: absolute;
  left: 15px;
  top: 240px;
}
@keyframes footerAni {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}
#wrap > footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(80px);
  animation: footerAni 0.5s ease-out forwards 0.5s;
}
#wrap > footer > nav {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
}
#wrap > footer > nav > ol {
  display: flex;
  justify-content: space-between;
}
#wrap > footer > nav > ol > li {
  width: 100%;
}
#wrap > footer > nav > ol > li > a {
  position: relative;
  display: block;
  height: 75px;
  font-size: 28px;
  line-height: 75px;
  text-align: center;
}
#wrap > footer > nav > ol > li > a:hover > i {
  color: #f66;
}
#wrap > footer > nav > ol > li > a > .redone {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 17px;
  height: 17px;
  margin-left: 5px;
  color: #fff;
  font-weight: 800;
  font-size: 10px;
  line-height: 17px;
  border-radius: 50%;
  background-color: #f00;
}

h2 {
  display: none;
}
@media screen and (min-width: 550px) {
  h2 {
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 600px;
    font-weight: 400;
    font-size: 33px;
    transform: translate(-50%, -50%);
  }
}/*# sourceMappingURL=style.css.map */