@charset 'utf-8';

@import url(./reset.css);

$pc: 'screen and (min-width: 550px)';

body {
	@media #{$pc} {
		background-color: #ffd700;
	}
}

#wrap {
	width: 100%;
	@media #{$pc} {
		display: none;
	}
	> header {
		> nav {
			display: flex;
			justify-content: space-between;
			height: 33px;
			padding: 0 10px;
			line-height: 33px;
			// border: 1px solid #000;

			> div {
				display: flex;
				> p {
					font-size: 16px;
					&:nth-of-type(2) {
						margin: 0 4px;
					}
				} //end of p
			} //end of div

			> ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 255px;

				> li {
					font-size: 15px;
				} //end of li
			} //end of ul
		} //end of nav
	} //end of header

	> section {
		margin-top: 10px;

		> nav {
			display: flex;
			justify-content: space-between;
			padding: 0 20px;
			> div {
				display: flex;
				> p {
					height: 60px;
					font-weight: 500;
					font-size: 24px;
					line-height: 60px;

					> a {
						display: block;
						height: 60px;
						padding-left: 15px;
						color: #ccc;
						line-height: 60px;
						text-align: center;
					}
				}
			}
			> ol {
				display: flex;
				justify-content: space-between;
				width: 120px;
				font-weight: 500;
				font-size: 24px;

				> li {
					height: 60px;
					line-height: 60px;
					> a {
						display: block;
						height: 60px;
						line-height: 60px;
						text-align: center;
					}

					&:last-child:hover > a {
						color: #f00;
					}
				}
			} //end of ol
		} //end of nav

		> .talkroom {
			margin-top: 40px;
			> li {
				> a {
					display: flex;
					height: 65px;
					margin: 15px 20px;

					&:hover {
						background-color: #fefbe3;
					}
					> .friend {
						> img {
							width: 65px;
							height: 65px;
							border-radius: 20px;
						}
					}

					> .info {
						display: flex;
						flex-direction: column;
						margin-left: 10px;
						> h3 {
							margin-top: 8px;
						}
						> p {
							margin-top: 5px;
							color: #9999b3;
						}
					} //end of .info

					> .talktime {
						position: absolute;
						right: 25px;
						margin-top: 24px;
						color: #9999b3;
						font-size: 12px;
					}
					> span {
						position: absolute;
						left: 50%;
						margin-top: 45px;
						margin-left: 197px;
						width: 18px;
						height: 18px;
						color: #fff;
						line-height: 18px;
						text-align: center;
						font-size: 13px;
						border-radius: 50%;
						background-color: #f00;
					}
				} //end of a
			} //end of li
		} //end of .talkroom
	} //end of section

	> .settings {
		> nav {
			padding: 0;
			> div {
				display: flex;
				justify-content: space-between;
				width: 100%;
				margin-right: 10px;
				> p {
					> a {
						display: block;
						color: #000;

						&:first-child {
							font-weight: 500;
							font-size: 20px;
						}
					}
					&:first-child:hover > a {
						color: #ffd700;
					}
					&:last-child {
						padding-right: 10px;
					}
				}
			}
		}

		> .else {
			margin-top: 30px;
			padding-left: 20px;
			> li {
				font-size: 25px;
				> a {
					display: block;
					height: 45px;
					margin-bottom: 30px;
					line-height: 45px;

					&:hover {
						background-color: #fdf4b1;
					}

					> span {
						padding-left: 18px;
					}
				}
			}
		}
	} //end of .settings

	> .talkbang {
		background-image: url(./../images/chatBg.png);
		> nav {
			background-color: #fff;
			padding: 0;
			> div {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding-right: 8px;
				> p {
					display: flex;

					> a {
						display: block;
						padding-right: 5px;
						color: #000;
						font-size: 20px;
					}
					&.onlyy > a:hover {
						color: #dcc206;
					}
				}
			}
		}

		> ul {
			height: 110vw;
			> li {
				> .frame {
					display: block;
					width: 40px;
					height: 40px;
					text-indent: -9999px;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url(./../images/friend_cloud.jpg);
					border-radius: 50%;
				}
			}
		}
	} //end of .talkbang

	@keyframes footerAni {
		from {
			transform: translateY(80px);
		}
		to {
			transform: translateY(0);
		}
	}
	> footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		transform: translateY(80px);
		animation: footerAni 0.5s ease-out forwards 0.5s;

		> nav {
			background-color: #fafafa;
			border-top: 1px solid #ccc;
			> ol {
				display: flex;
				justify-content: space-between;
				> li {
					width: 100%;

					> a {
						position: relative;
						display: block;
						height: 75px;
						font-size: 28px;
						line-height: 75px;
						text-align: center;
						&:hover > i {
							color: #f66;
						}

						> .redone {
							position: absolute;
							left: 50%;
							top: 20px;
							width: 17px;
							height: 17px;
							margin-left: 5px;
							color: #fff;
							font-weight: 800;
							font-size: 10px;
							line-height: 17px;
							border-radius: 50%;
							background-color: #f00;
						}
					}
				}
			}
		}
	} //end of footer
} //end of #wrap

h2 {
	display: none;

	@media #{$pc} {
		display: inline-block;
		position: fixed;
		left: 50%;
		top: 50%;
		width: 600px;
		font-weight: 400;
		font-size: 33px;
		transform: translate(-50%, -50%);
	}
}
