@charset 'utf-8';

@import url(./reset.css);

$pc: 'screen and (min-width: 550px)';

body {
	@media #{$pc} {
		background-color: #ffd700;
	}
}

#wrap {
	width: 100%;
	@media #{$pc} {
		display: none;
	}
	> header {
		> nav {
			display: flex;
			justify-content: space-between;
			height: 33px;
			padding: 0 10px;
			line-height: 33px;
			// border: 1px solid #000;

			> div {
				display: flex;
				> p {
					font-size: 16px;
					&:nth-of-type(2) {
						margin: 0 4px;
					}
				} //end of p
			} //end of div

			> ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 255px;

				> li {
					font-size: 15px;
				} //end of li
			} //end of ul
		} //end of nav
	} //end of header

	> header.talkbang {
		position: fixed;
		left: 50%;
		top: 0;
		width: 100%;
		background-color: #fff;
		transform: translate(-50%, 0);
		z-index: 1000;
	}

	> section {
		margin-top: 10px;

		> nav {
			display: flex;
			justify-content: space-between;
			padding: 0 20px;
			> div {
				display: flex;
				> p {
					height: 60px;
					font-weight: 500;
					font-size: 24px;
					line-height: 60px;

					> a {
						display: block;
						height: 60px;
						padding-left: 15px;
						color: #ccc;
						line-height: 60px;
						text-align: center;
					}
				}
			}
			> ol {
				display: flex;
				justify-content: space-between;
				width: 120px;
				font-weight: 500;
				font-size: 24px;

				> li {
					height: 60px;
					line-height: 60px;
					> a {
						display: block;
						height: 60px;
						line-height: 60px;
						text-align: center;
					}

					&:last-child:hover > a {
						color: #f00;
					}
				}
			} //end of ol
		} //end of nav

		> .talkroom {
			margin-top: 40px;
			> li {
				> a {
					display: flex;
					height: 65px;
					margin: 15px 20px;

					&:hover {
						background-color: #fefbe3;
					}
					> .friend {
						> img {
							width: 65px;
							height: 65px;
							border-radius: 20px;
						}
					}

					> .info {
						display: flex;
						flex-direction: column;
						margin-left: 10px;
						> h3 {
							margin-top: 8px;
						}
						> p {
							margin-top: 5px;
							color: #9999b3;
						}
					} //end of .info

					> .talktime {
						position: absolute;
						right: 25px;
						margin-top: 24px;
						color: #9999b3;
						font-size: 12px;
					}
					> span {
						position: absolute;
						left: 50%;
						margin-top: 45px;
						margin-left: 197px;
						width: 18px;
						height: 18px;
						color: #fff;
						line-height: 18px;
						text-align: center;
						font-size: 13px;
						border-radius: 50%;
						background-color: #f00;
					}
				} //end of a
			} //end of li
		} //end of .talkroom
	} //end of section

	> .settings {
		> nav {
			padding: 0;
			> div {
				display: flex;
				justify-content: space-between;
				width: 100%;
				margin-right: 10px;
				> p {
					> a {
						display: block;
						color: #000;

						&:first-child {
							font-weight: 500;
							font-size: 20px;
						}
					}
					&:first-child:hover > a {
						color: #ffd700;
					}
					&:last-child {
						padding-right: 10px;
					}
				}
			}
		}

		> .else {
			margin-top: 30px;
			padding-left: 20px;
			> li {
				font-size: 25px;
				> a {
					display: block;
					height: 45px;
					margin-bottom: 30px;
					line-height: 45px;

					&:hover {
						background-color: #fdf4b1;
					}

					> span {
						padding-left: 18px;
					}
				}
			}
		}
	} //end of .settings

	> section.talkbang {
		> nav {
			position: fixed;
			left: 50%;
			top: 30px;
			width: 100%;
			background-color: #fff;
			padding: 0;
			transform: translate(-50%, 0);
			z-index: 1000;
			> div {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding-right: 8px;
				> p {
					display: flex;

					> a {
						display: block;
						padding-right: 5px;
						color: #000;
						font-size: 20px;
					}
					&.onlyy > a:hover {
						color: #dcc206;
					}
				}
			}
		}

		> .background {
			position: relative;
			width: 100%;
			height: 1500px;
			margin-top: 90px;
			background-image: url(./../images/chatBng.png);
			background-size: contain;

			> h3 {
				position: absolute;
				left: 170px;
				top: 30px;
				width: 155px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				box-shadow: 2px 2px 2px 2px #ccc;
				font-weight: 500;
				font-size: 13px;
				background-color: #fff;
				border-radius: 50px;
			}
			> ul {
				> li {
					> .msgbox {
						> p {
							width: 190px;
							height: 50px;
							font-size: 14px;
							line-height: 50px;
							text-align: center;
							box-shadow: 2px 2px 2px 2px #ccc;
							background-color: #fff;
							border-radius: 10px;
							opacity: 0.9;
						} //end of p

						> .nickname {
							position: absolute;
							top: 235px;
							left: 70px;
						}
					}
					> .pic {
						display: block;
						width: 40px;
						height: 40px;
						text-indent: -9999px;
						background-size: cover;
						background-repeat: no-repeat;
						background-image: url(./../images/friend_cloud.jpg);
						border-radius: 50%;
					}

					&:first-child > div > p {
						position: absolute;
						left: 275px;
						top: 100px;
						background-color: #38bdf1;
					}
					&:nth-child(2) > div > p {
						position: absolute;
						left: 275px;
						top: 170px;
						background-color: #38bdf1;
					}
					&:nth-child(3) > div > p {
						position: absolute;
						left: 65px;
						top: 260px;
					}
					&:nth-child(4) > div > p {
						position: absolute;
						left: 65px;
						top: 330px;
					}
					&:nth-child(5) > div > p {
						position: absolute;
						left: 65px;
						top: 400px;
					}
					&:nth-child(6) > div > p {
						position: absolute;
						left: 65px;
						top: 470px;
					}
					&:nth-child(7) > div > p {
						position: absolute;
						left: 275px;
						top: 570px;
						background-color: #38bdf1;
					}
					//p

					&:nth-child(3) > .pic {
						position: absolute;
						left: 15px;
						top: 240px;
					}
				}
			}
		}
	} //end of .talkbang

	> .besti {
		> nav {
			> ol {
				> li {
					&:first-child {
						margin-left: 50px;
					}
				}
			}
		}
		> div {
			border-bottom: 1px solid #dedede;
			> .me {
				width: 80px;
				height: 80px;
				margin: 20px;
				background-size: contain;
				background-image: url(./../images/my.png);
				border-radius: 25px;
				> p {
					display: flex;
					justify-content: space-between;
					width: 350px;
					padding-top: 30px;
					padding-left: 100px;
					font-weight: 500;
					font-size: 20px;
					> span {
						display: block;
						width: 150px;
						height: 35px;
						line-height: 35px;
						text-align: center;
						font-weight: 400;
						font-size: 0.8rem;
						border: 1px solid #000;
						border-radius: 50px;
						cursor: pointer;
					}
				}
			}
		} //end of f div

		> div.birth,
		> div.burger {
			position: relative;
			width: 100%;
			margin-top: 20px;
			> h3 {
				margin-left: 20px;
				margin-bottom: 10px;
				font-weight: normal;
				font-size: 13px;
			}
			> img {
				width: 60px;
				height: 60px;
				margin-left: 20px;
				margin-bottom: 15px;
				border-radius: 20px;
			}
			> p {
				position: absolute;
				left: 100px;
				top: 50px;
				font-weight: 500;
				font-size: 16px;
			}
		}

		> div {
			> h3 {
				margin: 25px;
				font-weight: normal;
				font-size: 20px;
			}

			> .bookmark {
				height: 350px;
				margin-top: 40px;
				> li {
					> a {
						display: flex;
						height: 65px;
						margin: 15px 20px;

						&:hover {
							background-color: #fefbe3;
						}
						> .friend {
							> img {
								width: 65px;
								height: 65px;
								border-radius: 20px;
							}
						}

						> .info {
							display: flex;
							flex-direction: column;
							margin-left: 10px;
							> h3 {
								margin-top: 8px;
							}
							> p {
								margin-top: 5px;
								color: #9999b3;
							}
						} //end of .info

						> .talktime {
							position: absolute;
							right: 25px;
							margin-top: 24px;
							color: #9999b3;
							font-size: 12px;
						}
					} //end of a
					&:nth-child(3) > a > .info {
						display: flex;
						flex-direction: row;
						> h3 {
							margin-top: 23px;
							margin-right: 185px;
						}
						> p {
							margin-top: 25px;
							color: #000;
						}
					}
				} //end of li
			} //end of .bookmark
		} //end of div
	} //end of .besti

	> .find {
		width: 100%;
		height: 810px;
		background-color: gold;
		> nav {
			background-color: #fff;
			> ol {
				> li {
					&:first-child {
						margin-left: 50px;
					}
				}
			}
		}
		> div {
			> ul {
				display: flex;
				padding-top: 30px;
				border-bottom: 2px solid #5f2a2a;
				> li {
					width: 25%;
					> a {
						display: flex;
						flex-direction: column;
						text-align: center;
						> i {
							font-size: 40px;
						}
						> span {
							margin-bottom: 25px;
							padding-top: 5px;
						}
					}
				}
			}
		}

		> h3 {
			margin: 30px 25px;
			font-weight: normal;
		}

		> div {
			padding-bottom: 20px;
			> a {
				display: flex;
				height: 80px;
				padding: 0 30px;
				line-height: 80px;
				> img {
					width: 45px;
					height: 45px;
					margin-top: 18px;
					border-radius: 50%;
				}
				> h3 {
					margin-left: 30px;
					font-weight: 500;
					font-size: 20px;
				}
				> p {
					margin-left: 200px;
					font-size: 20px;
				}

				&:hover {
					background-color: #ac8d53;
				}
			}
		}
	}

	> .more {
		> nav {
			> ol {
				> li {
					&:first-child {
						margin-left: 50px;
					}
				}
			}
		}
		> .me {
			> li {
				&:nth-child(1) {
					display: flex;
					flex-flow: row wrap;
					padding: 20px;
					margin-bottom: 25px;
					> img {
						width: 85px;
						height: 85px;
						border-radius: 30px;
						margin-right: 10px;
					}
					> ul {
						h3 {
							margin-top: 17px;
							margin-left: 10px;
							line-height: 30px;
							font-weight: 500;
							font-size: 19px;
						}
						p {
							margin-left: 10px;
							font-size: 14px;
							color: #727272;
						}
					}
				}
				&:nth-child(2) {
					padding-bottom: 40px;
					border-bottom: 1px solid #dedede;
					> ul {
						display: flex;
						flex-flow: row nowrap;
						justify-content: space-evenly;
						> li {
							> a {
								> ul {
									width: 100px;
									text-align: center;
									> li {
										&:nth-child(1) {
											font-size: 40px;
											margin-bottom: 10px;
										}
										&:nth-child(2) {
											font-size: 15px;
										}
									}
								}
							}
						}
					}
				}
			} //end of li
		} //end of .me

		> .option {
			> li {
				&:nth-child(1) {
					margin: 30px;
					font-size: 15px;
				}
				&:nth-child(2) {
					> ul {
						display: flex;
						flex-flow: row nowrap;
						justify-content: space-evenly;
						> li {
							> a {
								> ul {
									text-align: center;
									> li {
										color: #f56c93;
										&:nth-child(1) {
											margin: 0 auto;
											width: 70px;
											line-height: 70px;
											font-size: 35px;
											border: 2px solid #f56c93;
											border-radius: 15px;
										}
										&:nth-child(2) {
											width: 100px;
											font-size: 15px;
											margin-top: 10px;
										}
									}
								}
							}
						}
					}
				}
			}
		} //end of .option
	} //end of .more

	@keyframes footerAni {
		from {
			transform: translateY(80px);
		}
		to {
			transform: translateY(0);
		}
	}
	> footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		transform: translateY(80px);
		animation: footerAni 0.5s ease-out forwards 0.5s;

		> nav {
			background-color: #fafafa;
			border-top: 1px solid #ccc;
			> ol {
				display: flex;
				justify-content: space-between;
				> li {
					width: 100%;

					> a {
						position: relative;
						display: block;
						height: 75px;
						font-size: 28px;
						line-height: 75px;
						text-align: center;
						&:hover > i {
							color: #f66;
						}

						> .redone {
							position: absolute;
							left: 50%;
							top: 20px;
							width: 17px;
							height: 17px;
							margin-left: 5px;
							color: #fff;
							font-weight: 800;
							font-size: 10px;
							line-height: 17px;
							border-radius: 50%;
							background-color: #f00;
						}
					}
				}
			}
		}
	} //end of footer

	> footer.talkbang {
		width: 100%;
		bottom: -327px;
		transition: all 0.5s ease-in-out;
		> div {
			width: 100%;
			border-top: 1px solid #ccc;
			background-color: #e2ddfc;

			> a {
				height: 44px;
				padding-left: 5px;
				line-height: 44px;
				font-size: 17px;

				&:nth-child(1) {
					padding-left: 10px;
				}
			}
			> input {
				width: 80%;
				height: 42px;
				margin-left: 5px;
				line-height: 42px;
				font-size: 17px;
				border: none;
				background-color: #e2ddfc;
			}
			> img {
				width: 100%;
				cursor: pointer;
			}
		}
		&:hover {
			bottom: 0;
		}
	}
} //end of #wrap

h2 {
	display: none;

	@media #{$pc} {
		display: inline-block;
		position: fixed;
		left: 50%;
		top: 50%;
		width: 600px;
		font-weight: 400;
		font-size: 33px;
		transform: translate(-50%, -50%);
	}
}
