@import url(./reset.css);
@media screen and (min-width: 550px) {
  body {
    background-color: #ffd700;
  }
}

#wrap {
  width: 100%;
}
@media screen and (min-width: 550px) {
  #wrap {
    display: none;
  }
}
#wrap > header > nav {
  display: flex;
  justify-content: space-between;
  height: 33px;
  padding: 0 10px;
  line-height: 33px;
}
#wrap > header > nav > div {
  display: flex;
}
#wrap > header > nav > div > p {
  font-size: 16px;
}
#wrap > header > nav > div > p:nth-of-type(2) {
  margin: 0 4px;
}
#wrap > header > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}
#wrap > header > nav > ul > li {
  font-size: 15px;
}
#wrap > header.talkbang {
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  background-color: #fff;
  transform: translate(-50%, 0);
  z-index: 1000;
}
#wrap > section {
  margin-top: 10px;
}
#wrap > section > nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
#wrap > section > nav > div {
  display: flex;
}
#wrap > section > nav > div > p {
  height: 60px;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
}
#wrap > section > nav > div > p > a {
  display: block;
  height: 60px;
  padding-left: 15px;
  color: #ccc;
  line-height: 60px;
  text-align: center;
}
#wrap > section > nav > ol {
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-weight: 500;
  font-size: 24px;
}
#wrap > section > nav > ol > li {
  height: 60px;
  line-height: 60px;
}
#wrap > section > nav > ol > li > a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
#wrap > section > nav > ol > li:last-child:hover > a {
  color: #f00;
}
#wrap > section > .talkroom {
  margin-top: 40px;
}
#wrap > section > .talkroom > li > a {
  display: flex;
  height: 65px;
  margin: 15px 20px;
}
#wrap > section > .talkroom > li > a:hover {
  background-color: #fefbe3;
}
#wrap > section > .talkroom > li > a > .friend > img {
  width: 65px;
  height: 65px;
  border-radius: 20px;
}
#wrap > section > .talkroom > li > a > .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#wrap > section > .talkroom > li > a > .info > h3 {
  margin-top: 8px;
}
#wrap > section > .talkroom > li > a > .info > p {
  margin-top: 5px;
  color: #9999b3;
}
#wrap > section > .talkroom > li > a > .talktime {
  position: absolute;
  right: 25px;
  margin-top: 24px;
  color: #9999b3;
  font-size: 12px;
}
#wrap > section > .talkroom > li > a > span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -115px;
  margin-left: 197px;
  width: 18px;
  height: 18px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  font-size: 13px;
  border-radius: 50%;
  background-color: #f00;
}
#wrap > .settings > nav {
  padding: 0;
}
#wrap > .settings > nav > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}
#wrap > .settings > nav > div > p > a {
  display: block;
  color: #000;
}
#wrap > .settings > nav > div > p > a:first-child {
  font-weight: 500;
  font-size: 20px;
}
#wrap > .settings > nav > div > p:first-child:hover > a {
  color: #ffd700;
}
#wrap > .settings > nav > div > p:last-child {
  padding-right: 10px;
}
#wrap > .settings > .else {
  margin-top: 30px;
  padding-left: 20px;
}
#wrap > .settings > .else > li {
  font-size: 25px;
}
#wrap > .settings > .else > li > a {
  display: block;
  height: 45px;
  margin-bottom: 30px;
  line-height: 45px;
}
#wrap > .settings > .else > li > a:hover {
  background-color: #fdf4b1;
}
#wrap > .settings > .else > li > a > span {
  padding-left: 18px;
}
#wrap > section.talkbang > nav {
  position: fixed;
  left: 50%;
  top: 30px;
  width: 100%;
  background-color: #fff;
  padding: 0;
  transform: translate(-50%, 0);
  z-index: 1000;
}
#wrap > section.talkbang > nav > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 8px;
}
#wrap > section.talkbang > nav > div > p {
  display: flex;
}
#wrap > section.talkbang > nav > div > p > a {
  display: block;
  padding-right: 5px;
  color: #000;
  font-size: 20px;
}
#wrap > section.talkbang > nav > div > p.onlyy > a:hover {
  color: #dcc206;
}
#wrap > section.talkbang > .background {
  position: relative;
  width: 100%;
  height: 1500px;
  margin-top: 90px;
  background-image: url(./../images/chatBng.png);
  background-size: contain;
}
#wrap > section.talkbang > .background > h3 {
  position: absolute;
  left: 170px;
  top: 30px;
  width: 155px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #ccc;
  font-weight: 500;
  font-size: 13px;
  background-color: #fff;
  border-radius: 50px;
}
#wrap > section.talkbang > .background > ul > li > .msgbox > p {
  width: 190px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #ccc;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.9;
}
#wrap > section.talkbang > .background > ul > li > .msgbox > .nickname {
  position: absolute;
  top: 235px;
  left: 70px;
}
#wrap > section.talkbang > .background > ul > li > .pic {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./../images/friend_cloud.jpg);
  border-radius: 50%;
}
#wrap > section.talkbang > .background > ul > li:first-child > div > p {
  position: absolute;
  left: 275px;
  top: 100px;
  background-color: #38bdf1;
}
#wrap > section.talkbang > .background > ul > li:nth-child(2) > div > p {
  position: absolute;
  left: 275px;
  top: 170px;
  background-color: #38bdf1;
}
#wrap > section.talkbang > .background > ul > li:nth-child(3) > div > p {
  position: absolute;
  left: 65px;
  top: 260px;
}
#wrap > section.talkbang > .background > ul > li:nth-child(4) > div > p {
  position: absolute;
  left: 65px;
  top: 330px;
}
#wrap > section.talkbang > .background > ul > li:nth-child(5) > div > p {
  position: absolute;
  left: 65px;
  top: 400px;
}
#wrap > section.talkbang > .background > ul > li:nth-child(6) > div > p {
  position: absolute;
  left: 65px;
  top: 470px;
}
#wrap > section.talkbang > .background > ul > li:nth-child(7) > div > p {
  position: absolute;
  left: 275px;
  top: 570px;
  background-color: #38bdf1;
}
#wrap > section.talkbang > .background > ul > li:nth-child(3) > .pic {
  position: absolute;
  left: 15px;
  top: 240px;
}
#wrap > .besti > nav > ol > li:first-child {
  margin-left: 50px;
}
#wrap > .besti > div {
  border-bottom: 1px solid #dedede;
}
#wrap > .besti > div > a > .me {
  width: 80px;
  height: 80px;
  margin: 20px;
  background-size: contain;
  background-image: url(./../images/my.png);
  border-radius: 25px;
}
#wrap > .besti > div > a > .me > p {
  display: flex;
  justify-content: space-between;
  width: 350px;
  padding-top: 30px;
  padding-left: 100px;
  font-weight: 500;
  font-size: 20px;
}
#wrap > .besti > div > a > .me > p > span {
  display: block;
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer;
}
#wrap > .besti > div.birth,
#wrap > .besti > div.burger {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
#wrap > .besti > div.birth > h3,
#wrap > .besti > div.burger > h3 {
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 13px;
}
#wrap > .besti > div.birth > img,
#wrap > .besti > div.burger > img {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
}
#wrap > .besti > div.birth > p,
#wrap > .besti > div.burger > p {
  position: absolute;
  left: 100px;
  top: 50px;
  font-weight: 500;
  font-size: 16px;
}
#wrap > .besti > div > h3 {
  margin: 25px;
  font-weight: normal;
  font-size: 20px;
}
#wrap > .besti > div > .bookmark {
  height: 350px;
  margin-top: 40px;
}
#wrap > .besti > div > .bookmark > li > a {
  display: flex;
  height: 65px;
  margin: 15px 20px;
}
#wrap > .besti > div > .bookmark > li > a:hover {
  background-color: #fefbe3;
}
#wrap > .besti > div > .bookmark > li > a > .friend > img {
  width: 65px;
  height: 65px;
  border-radius: 20px;
}
#wrap > .besti > div > .bookmark > li > a > .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#wrap > .besti > div > .bookmark > li > a > .info > h3 {
  margin-top: 8px;
}
#wrap > .besti > div > .bookmark > li > a > .info > p {
  margin-top: 5px;
  color: #9999b3;
}
#wrap > .besti > div > .bookmark > li > a > .talktime {
  position: absolute;
  right: 25px;
  margin-top: 24px;
  color: #9999b3;
  font-size: 12px;
}
#wrap > .besti > div > .bookmark > li:nth-child(3) > a > .info {
  display: flex;
  flex-direction: row;
}
#wrap > .besti > div > .bookmark > li:nth-child(3) > a > .info > h3 {
  margin-top: 23px;
  margin-right: 185px;
}
#wrap > .besti > div > .bookmark > li:nth-child(3) > a > .info > p {
  margin-top: 25px;
  color: #000;
}
#wrap > .find {
  width: 100%;
  height: 878px;
  background-color: gold;
}
#wrap > .find > nav {
  background-color: #fff;
}
#wrap > .find > nav > ol > li:first-child {
  margin-left: 50px;
}
#wrap > .find > div > ul {
  display: flex;
  padding-top: 30px;
  border-bottom: 2px solid #5f2a2a;
}
#wrap > .find > div > ul > li {
  width: 25%;
}
#wrap > .find > div > ul > li > a {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#wrap > .find > div > ul > li > a > i {
  font-size: 40px;
}
#wrap > .find > div > ul > li > a > span {
  margin-bottom: 25px;
  padding-top: 5px;
}
#wrap > .find > h3 {
  margin: 30px 25px;
  font-weight: normal;
}
#wrap > .find > div {
  padding-bottom: 20px;
}
#wrap > .find > div > a {
  display: flex;
  height: 80px;
  padding: 0 30px;
  line-height: 80px;
}
#wrap > .find > div > a > img {
  width: 45px;
  height: 45px;
  margin-top: 18px;
  border-radius: 50%;
}
#wrap > .find > div > a > h3 {
  margin-left: 30px;
  font-weight: 500;
  font-size: 20px;
}
#wrap > .find > div > a > p {
  margin-left: 200px;
  font-size: 20px;
}
#wrap > .find > div > a:hover {
  background-color: #ac8d53;
}
#wrap > .more > nav > ol > li:first-child {
  margin-left: 50px;
}
#wrap > .more > .me > li:nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  margin-bottom: 25px;
}
#wrap > .more > .me > li:nth-child(1) > img {
  width: 85px;
  height: 85px;
  border-radius: 30px;
  margin-right: 10px;
}
#wrap > .more > .me > li:nth-child(1) > ul h3 {
  margin-top: 17px;
  margin-left: 10px;
  line-height: 30px;
  font-weight: 500;
  font-size: 19px;
}
#wrap > .more > .me > li:nth-child(1) > ul p {
  margin-left: 10px;
  font-size: 14px;
  color: #727272;
}
#wrap > .more > .me > li:nth-child(2) {
  padding-bottom: 40px;
  border-bottom: 1px solid #dedede;
}
#wrap > .more > .me > li:nth-child(2) > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
#wrap > .more > .me > li:nth-child(2) > ul > li > a > ul {
  width: 100px;
  text-align: center;
}
#wrap > .more > .me > li:nth-child(2) > ul > li > a > ul > li:nth-child(1) {
  font-size: 40px;
  margin-bottom: 10px;
}
#wrap > .more > .me > li:nth-child(2) > ul > li > a > ul > li:nth-child(2) {
  font-size: 15px;
}
#wrap > .more > .option > li:nth-child(1) {
  margin: 30px;
  font-size: 15px;
}
#wrap > .more > .option > li:nth-child(2) > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
#wrap > .more > .option > li:nth-child(2) > ul > li > a > ul {
  text-align: center;
}
#wrap > .more > .option > li:nth-child(2) > ul > li > a > ul > li {
  color: #f56c93;
}
#wrap > .more > .option > li:nth-child(2) > ul > li > a > ul > li:nth-child(1) {
  margin: 0 auto;
  width: 70px;
  line-height: 70px;
  font-size: 35px;
  border: 2px solid #f56c93;
  border-radius: 15px;
}
#wrap > .more > .option > li:nth-child(2) > ul > li > a > ul > li:nth-child(2) {
  width: 100px;
  font-size: 15px;
  margin-top: 10px;
}
#wrap > .sieun {
  position: relative;
  width: 100%;
  height: 858px;
  padding-top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./../images/bgd_02.jpg);
}
#wrap > .sieun > nav > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#wrap > .sieun > nav > div > p {
  display: flex;
}
#wrap > .sieun > nav > div > p a {
  height: 30px;
  color: #fff;
  font-size: 20px;
}
#wrap > .sieun > nav > div > p a > i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
}
#wrap > .sieun > nav > div > p:first-child > a > i {
  border: none;
}
#wrap > .sieun > div > a > .me > img {
  position: absolute;
  left: 42%;
  top: 68%;
  width: 86px;
  height: 86px;
  border-radius: 35px;
}
#wrap > .sieun > div > a > .me > p {
  position: absolute;
  left: 46%;
  top: 80%;
  color: #fff;
  font-size: 16px;
}
#wrap > .sieun > div > a > p > span:nth-child(1) {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #707070;
  background-color: #d6d6d6;
  border: 1px solid #d6d6d6;
  border-radius: 30px;
}
#wrap > .sieun > div > a > p > span:nth-child(2) {
  position: absolute;
  left: 35px;
  top: 200px;
  font-size: 20px;
}
#wrap > .sieun > .my {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #ccc;
}
#wrap > .sieun > .my > ul {
  display: flex;
  justify-content: space-around;
}
#wrap > .sieun > .my > ul > li {
  height: 80px;
  padding-top: 30px;
}
#wrap > .sieun > .my > ul > li > a {
  color: #fff;
}
#wrap > .sieun > .my > ul > li > a > i {
  font-size: 20px;
  text-indent: 30px;
}
#wrap > .sieun > .my > ul > li > a > span {
  display: block;
  padding-top: 10px;
  font-size: 13px;
  text-indent: 6px;
}
@keyframes footerAni {
  from {
    transform: translateY(80px);
  }
  to {
    transform: translateY(0);
  }
}
#wrap > footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateY(80px);
  animation: footerAni 0.5s ease-out forwards 0.5s;
}
#wrap > footer > nav {
  background-color: #fafafa;
  border-top: 1px solid #ccc;
}
#wrap > footer > nav > ol {
  display: flex;
  justify-content: space-between;
}
#wrap > footer > nav > ol > li {
  width: 100%;
}
#wrap > footer > nav > ol > li > a {
  position: relative;
  display: block;
  height: 75px;
  font-size: 28px;
  line-height: 75px;
  text-align: center;
}
#wrap > footer > nav > ol > li > a:hover > i {
  color: #f66;
}
#wrap > footer > nav > ol > li > a > .redone {
  position: absolute;
  left: 50%;
  top: 20px;
  width: 17px;
  height: 17px;
  margin-left: 5px;
  color: #fff;
  font-weight: 800;
  font-size: 10px;
  line-height: 17px;
  border-radius: 50%;
  background-color: #f00;
}
#wrap > footer.talkbang {
  width: 100%;
  bottom: -327px;
  transition: all 0.5s ease-in-out;
}
#wrap > footer.talkbang > div {
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #e2ddfc;
}
#wrap > footer.talkbang > div > a {
  height: 44px;
  padding-left: 5px;
  line-height: 44px;
  font-size: 17px;
}
#wrap > footer.talkbang > div > a:nth-child(1) {
  padding-left: 10px;
}
#wrap > footer.talkbang > div > input {
  width: 80%;
  height: 42px;
  margin-left: 5px;
  line-height: 42px;
  font-size: 17px;
  border: none;
  background-color: #e2ddfc;
}
#wrap > footer.talkbang > div > img {
  width: 100%;
  cursor: pointer;
}
#wrap > footer.talkbang:hover {
  bottom: 0;
}

h2 {
  display: none;
}
@media screen and (min-width: 550px) {
  h2 {
    display: inline-block;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 600px;
    font-weight: 400;
    font-size: 33px;
    transform: translate(-50%, -50%);
  }
}/*# sourceMappingURL=style.css.map */